body {
  padding-top: 0px;
  padding-bottom: 30px;
  font-family: 'Open Sans';
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#external-events .fc-event {
	width: 150px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.fc-event {
	padding-left: 8px;
}