#draoslapp {
	height: 37px;
	width: 150px;
	display: inline-block;
	vertical-align: inherit;
	line-height: 37px;
	padding-top: 0px;
}

.fc-event {
	/*padding-left: 8px;
	padding-right: 8px;*/
	padding: 3px 3px 3px 5px;
}

.height {
	height: 40px;
}

.ui.menu:last-child {
    margin-bottom: 20px;
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
	.ui.container {
		width: 768px;
		margin-left: auto!important;
		margin-right: auto!important;
	}
}