#draoslapp {
	height: 37px;
	width: 150px;
	display: inline-block;
	vertical-align: inherit;
	line-height: 37px;
	padding-top: 0px;
}

.fc-event {
	padding: 3px 3px 3px 5px;
}

.height {
	height: 40px;
}

.ui.menu:last-child {
    margin-bottom: 20px;
}

@media only screen 
  and (min-device-width: 100px) 
  and (max-width: 768px) {
	.item.menuhide {
        font-size: 0;
    }
	.item.menuhide i {
		font-size: 1rem !important;
		margin-left: 15px !important;
		margin-right: 15px !important;
	}
	
	.fc-content {
		height: 30px;
	}
	.fc-title {
		white-space: normal;
	}	
}